
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3; 
    --accent-color-secondary: #757575;
    --accent-color-background: #2F303A;
}